*{
    font-size: 16px;
    font-family:  "Merriweather", Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
}
li{
    list-style-type: none;
    display: inline-block;
}
h2{
    font-size: 2.2rem;
}
h3{
    font-size: 1.2rem;
}
body{
    margin: 0;
}
/*Header*/
header{
    display: block;
    background-color: rgb(47, 128, 248);
    color: snow;
    padding: 10px 10px;
}

header h1{
    font-size: 3rem;
    padding-left: 10px;
    margin: 10px;
}
nav ul{
    padding: 0 10px;
    display: flex;
    justify-content: flex-end;
}
nav ul li{
    font-size: 1.5rem;
    color: snow;
    padding: 0 15px;
}
/**/
main{
    margin-left: 5%;
}
/*Profile*/
.profile-cont{
    display: flex;
    justify-content: space-around;
}
.img-cont{
    flex-grow: 1;
    margin: 15px;
}
#profile{
    border-radius: 100px;
    height: auto;
    max-width: 200px;
}

.bio-cont{
    flex-grow: 3;
    padding: 0 5%;
}

footer{
    background-color: rgb(47, 128, 248);
    color: white;
    padding: 0.6rem 2rem;
}
footer h2{
    margin: 1rem auto;
}

footer ul{
    margin-bottom: 0;
    padding-bottom: 1rem;
}
footer ul li{
    padding: 10px;
}
.attribute{
    display: none;
}
.icon{
    height: 2rem;
    border: 1px rgba(190, 190, 190);
}

@media screen and (max-width: 50rem){
    *{
        text-align: center;
    }
    nav ul{
        display: block;
    }
}